version = "v1"

[logging]
level = "debug"
format = "text"

[[listeners]]
id = "http_listener"
address = "{{.HTTPAddr}}"
type = "http"

[listeners.http]
read_timeout = "1s"
write_timeout = "1s"
idle_timeout = "1s"
drain_timeout = "1s"

[[endpoints]]
id = "echo_endpoint"
listener_id = "http_listener"

[[endpoints.routes]]
app_id = "echo_app"
[endpoints.routes.http]
path_prefix = "/echo"

[[apps]]
id = "echo_app"
type = "echo"
[apps.echo]
response = "This is a test echo response"