version = "v1"

[[listeners]]
id = "api"
type = "http"
address = "127.0.0.1:{{.Port}}"


[[endpoints]]
id = "api-endpoint"
listener_id = "api"

[[endpoints.routes]]
app_id = "starlark-https-app"
[endpoints.routes.http]
path_prefix = "/execute"

[[apps]]
id = "starlark-https-app"
type = "script"
[apps.script]
[apps.script.static_data]
data = { greeting = "from HTTPS" }
[apps.script.starlark]
uri = "{{.ScriptURL}}"
timeout = "10s"