version = "v1"

[[listeners]]
id = "api"
type = "http"
address = "127.0.0.1:{{.Port}}"


[[endpoints]]
id = "api-endpoint"
listener_id = "api"

[[endpoints.routes]]
app_id = "extism-https-app"
[endpoints.routes.http]
path_prefix = "/execute"

[[apps]]
id = "extism-https-app"
type = "script"
[apps.script]
[apps.script.static_data]
data = { input = "HTTPS integration test" }
[apps.script.extism]
uri = "{{.ScriptURL}}"
entrypoint = "greet_namespaced"
timeout = "10s"