version = "v1"

[[listeners]]
id = "http"
address = "127.0.0.1:{{.Port}}"
type = "http"

[[endpoints]]
id = "main"
listener_id = "http"

[[endpoints.routes]]
app_id = "extism-test"
[endpoints.routes.http]
path_prefix = "/"

[[apps]]
id = "extism-test"
type = "script"

[apps.script]

[apps.script.extism]
code = "not-valid-base64-wasm-data"
entrypoint = "greet"
timeout = "1s"