version = "v1"

[[listeners]]
id = "http"
address = "127.0.0.1:{{.Port}}"
type = "http"

[[endpoints]]
id = "main"
listener_id = "http"

[[endpoints.routes]]
app_id = "risor-test"
[endpoints.routes.http]
path_prefix = "/"

[[apps]]
id = "risor-test"
type = "script"

[apps.script]

[apps.script.risor]
code = """
import "http"

func broken( {  // Syntax error: missing closing parenthesis
    return "broken"
}
"""
timeout = "1s"