version = "v1"

[[listeners]]
id = "http"
address = "127.0.0.1:{{.Port}}"
type = "http"

[[endpoints]]
id = "main"
listener_id = "http"

[[endpoints.routes]]
app_id = "risor-test"
[endpoints.routes.http]
path_prefix = "/"

[[apps]]
id = "risor-test"

[apps.script]

[apps.script.static_data]
data = { message = "Hello from integration test" }

[apps.script.risor]
code = """
func process() {
    return {
        "message": "Hello from Risor",
        "status": "success"
    }
}

process()
"""
timeout = "1s"