version = "v1"

[[listeners]]
id = "http"
address = "127.0.0.1:{{.Port}}"
type = "http"

[[endpoints]]
id = "main"
listener_id = "http"

[[endpoints.routes]]
app_id = "starlark-file-test"
[endpoints.routes.http]
path_prefix = "/"

[[apps]]
id = "starlark-file-test"
type = "script"

[apps.script]

[apps.script.static_data]
data = { source = "external file" }

[apps.script.starlark]
uri = "file://{{.ScriptPath}}"
timeout = "1s"