version = "v1"

[[listeners]]
id = "http"
address = "127.0.0.1:{{.Port}}"
type = "http"

[[endpoints]]
id = "main"
listener_id = "http"

[[endpoints.routes]]
app_id = "starlark-test"
[endpoints.routes.http]
path_prefix = "/"

[[apps]]
id = "starlark-test"

[apps.script]

[apps.script.starlark]
code = """
def broken(req
    return "broken"  # Syntax error: missing closing parenthesis
"""
timeout = "1s"